{% extends "base.html" %}

{% block  content_style%}
{% endblock  %}

{% block content_body %}
<div class="jumbotron">
    <h1>hello assignments</h1>
    <p>{{key1}}</p>
</div>
    <div class="container">
        <ul id="news_items" class="list-group">
            <li class="list-group-item">
                <div>
                    <h3>abc</h3>
                    <p>{{key1}}</p>
                </div>
            </li>
        </ul>
    </div>
{% endblock  %}

{% block content_script %}
<script>
</script>
{% endblock content_script %}