<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hacker News</title>
</head>
<body>
<h1>Registration</h1>
    <form method="POST" action="{% url 'register' %}">
      {% csrf_token %}
      {% if form.errors %}
    <p>error</p>
    {% endif %}

    {{form}}
    <!-- <div>
      <label for="class_member_type">user type</label>
      <input type="text" name="class_member_type" placeholder="user type">
    </div> -->
    <div>
      <input type="submit" value="login">
    </div>
    </form>
</body>
</html>