{% extends 'base.html' %}

{% block  content_style%}

{% endblock  %}

{% block content_body %}
    <div class="jumbotron">
    {% comment %} <h1>{{username}}</h1> {% endcomment %}
        <h1>Classroom</h1>
        <p>A virtual classroom</p>
    </div>
    <div class="container">
        <ul id="news_items" class="list-group">
            <li class="list-group-item">
                <div>
                    <h3>abc</h3>
                    <p>{{key1}}</p>
                </div>
            </li>
        </ul>
    </div>
{% endblock content_body %}



{% block content_script %}

<script>
</script>

{% endblock content_script %}